<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATALOGO</title>
    <link rel="stylesheet" href="/stylesheets/styleCatalogo.css">
</head>
<body>
    <%- include("./partials/header-mini") %>
    <main class="paginaPrincipal">
        <h2>  PRODUTOS </h2>
        <section class="caixaProdutos">
            <% for (let produtos of produtosCatalogo) {%>
                <article>
                    <a class="link "href="/produtos/<%= produtos.id%>">
                    <img class="fotosPecas" src="<%= produtos.imagem %>" alt="moletom monstrinho">
                    <div>
                        <h4 class="categoriaPeca"> <%= produtos.categoria %> </h4>
                        <p class="nomePeca"> <%= produtos.nome_produto %> </p>
                        <br>
                        <strong class="precoPeca"> R$ <%= produtos.preco %></strong>
                    </div>
                    </a>
                </article>
                <% } %>
        </section>
        
        
<!--             
                <article>
                    <img class="fotosPecas" src="/images/img-produtos/produto2.jpg" alt="moletom street">
                    <h4 class="categoriaPeca">MOLETOM</h4>
                    <p class="nomePeca">MOLETOM STREET </p>
                    <strong class="precoPeca">R$ 69,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/img-produtos/produto3.webp" alt="moletom xadrez">
                    <h4 class="categoriaPeca">MOLETOM</h4>
                    <p class="nomePeca"> MOLETOM XADREZ </p>
                    <strong class="precoPeca">R$ 59,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/img-produtos/produto4.webp" alt="moletom capuz">
                    <h4 class="categoriaPeca">MOLETOM</h4>
                    <p class="nomePeca">MOLETOM CAPUZ</p>
                    <strong class="precoPeca">R$ 69,90</strong>
                </article>
            </div>
            <br>
            <div class="linha2">
                <article>
                    <img class="fotosPecas" src="/images/img-produtos/produto6.webp" alt="moletom let's roll">
                    <h4 class="categoriaPeca">MOLETOM</h4>
                    <p class="nomePeca">MOLETOM LET'S ROLL</p>
                    <strong class="precoPeca">R$ 79,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/img-produtos/produto7.webp" alt="calca">
                    <h4 class="categoriaPeca">CALÇA</h4>
                    <p class="nomePeca">CALÇA FAIXA LATERAL</p>
                    <strong class="precoPeca">R$ 59,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/img-produtos/produto8.webp" alt="camiseta best season">
                    <h4 class="categoriaPeca"> CAMISETA </h4>
                    <p class="nomePeca"> CAMISETA BEST SEASON </p>
                    <strong class="precoPeca">R$ 49,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/img-produtos/produto9.webp" alt="camiseta tigres">
                    <h4 class="categoriaPeca"> CAMISETA </h4>
                    <p class="nomePeca">CAMISETA TIGRES </p>
                    <strong class="precoPeca">R$ 49,90</strong>
                </article>
            </div>
        </section> --> 
    </main>
    
    <%- include("./partials/footer") %>
    </body>
    </html>