<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Mundo Infantil</title>
</head>
<body>

    <%- include("./partials/header") %>

        <main>
            <div>
                <div class="texto-banner">
                    <p>NOVIDADES QUENTINHAS</p>
                    <p>DE INVERNO</p>
                </div>
                <a href="catalogo" class="botao-banner">COMPRE AGORA</a>
                <img src="/images/img-home/BANNER PRINCIPAL.png" width="100%">
            </div>
            <div>
                <p class="texto-banner">1ยบ VEZ AQUI ?</p>
                <a href="cadastro" class="botao-banner2">CADASTRE-SE</a>
                <img class="imag" src="/images/img-home/1 VEZ AQUI.png" width="100%">
            </div>
            <br>
            <div class="subtitulo">
                <h3> NOVIDADES </h3>
            </div>
            <br>
            <section class="novidades">
                <% for (let produto of todosProdutos) {%>
                    <article class="banner">
                        <a href="/produtos/<%= produto.id%>" class="linksroupas">
                            <img class="fotosPecas" src="<%= produto.imagem %>">
                            <div class="infosPeca">
                                <p class="linha1"> JAQUETA MENINO </p>
                                <p class="linha2">
                                    <%= produto.nome_produto %>
                                </p>
                                <br>
                                <br>
                                <strong class="preco"> R$ <%= produto.preco %> </strong>
                            </div>
                        </a>
                    </article>
                    <% } %>
            </section>
            <section class="caixa-quadro">
                <img class="quadro" src="/images/img-home/insta 1.png">
                <img class="quadro" src="/images/img-home/insta 2.png">
                <img class="quadro" src="/images/img-home/insta.png">
            </section>
        </main>

        <%- include("./partials/footer") %>

</body>

</html>