<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Mundo Infantil</title>
</head>

<body>

    <%- include("./partials/header") %>

        <main>

            <%- include("./partials/banner") %>
                <br>
                <div class="subtitulo">
                    <h3> <b>NOVIDADES</b> </h3>
                </div>
                <br>
                <section class="novidades">
                    <% for (let produto of todosProdutos) {%>
                        <article class="banner">
                            <a style="text-decoration:none;color:Black" href="/produtos/<%= produto.id%>"
                                class="linksroupas">
                                <img class="fotosPecas" src="<%= produto.imagem %>">
                                <div class="infosPeca">
                                    <p class="linha1"> JAQUETA MENINO </p>
                                    <p class="linha2">
                                        <%= produto.nome_produto %>
                                    </p>
                                    <strong class="preco"> R$ <%= produto.preco %> </strong>
                                </div>
                            </a>
                        </article>
                        <% } %>
                </section>
                <section class="caixa-quadro">
                    <img class="quadro" src="/images/img-home/insta 1.png">
                    <img class="quadro" src="/images/img-home/insta 2.png">
                    <img class="quadro" src="/images/img-home/insta.png">
                </section>
        </main>

        <%- include("./partials/footer") %>

</body>

</html>