<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/perfil-dados.css" rel="stylesheet">
    <title>PERFIL</title>
</head>

<body>

    <%- include("./partials/headerLogado") %>

    <div class="boxPrincipal">
        <div class="caixaBotoes">
            <h2> Altere seus dados aqui! </h2>
            <br>
            <div class="caixaPerfil">
                <button class="botao"> <a href="/perfil" class="link"> PERFIL DO USUÁRIO </a> </button>
            </div>
            <div class="caixaEditar">
                <button class="botao"><a class="link"> EDITAR DADOS </a> </button>
            </div>
            <div class="caixaSair">
                <button class="botao"> <a href="/login" class="link"> SAIR </a> </button>
            </div>
        </div>
        <div class="caixaInfos">
            <div class="boxInformacoes">
                <form action="/editar/<%= id %>?_method=PUT" method="post">
                    <div class="identificacao">
                        <div class="labelForm"> <label for="nome"> NOME: </label> </div>
                        <div class="inputForm"> <input class="inputDados" type="text" name="nome" id="nome"
                                placeholder="<%= nome %>"> </div>
                    </div>
                    <br>
                    <div class="identificacao">
                        <div class="labelForm"> <label for="sobrenome"> SOBRENOME: </label> </div>
                        <div class="inputForm"> <input class="inputDados" type="text" name="sobrenome" id="sobrenome"
                                placeholder="<%= sobrenome %>"> </div>
                    </div>
                    <br>
                    <div class="identificacao">
                        <div class="labelForm"> <label for="telefone"> TELEFONE: </label> </div>
                        <div class="inputForm"> <input class="inputDados" type="tel" name="telefone" id="telefone"
                                placeholder="<%= telefone %>"> </div>
                    </div>
                    <br>
                    <div class="identificacao">
                        <div class="labelForm"> <label for="email"> E-MAIL: </label> </div>
                        <div class="inputForm"> <input class="inputDados" type="email" name="email" id="email"
                                placeholder="<%= email %>"> </div>
                    </div>
                    <br>
                    <div class="identificacao">
                        <div class="labelForm"> <label for="senha"> SENHA: </label> </div>
                        <div class="inputForm"> <input class="inputDados" type="password" name="senha" id="senha"
                                placeholder="********"> </div>
                    </div>
                    <br>
                    <button class="botaoCadastro" type="submit"> SALVAR ALTERAÇÕES </button>
                </form>
                <br>
                <form action="/editar/<%= id %>?_method=DELETE" method="post">
                    <button class="botaoDeletar" type="submit">DELETAR CONTA</button>
                </form>
            </div>
        </div>
    </div>
    <%- include("./partials/footer") %>

</body>

</html>