<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/pg-produtos.css">
    <title>PG PRODUTOS</title>
</head>

<body>
    
    <%- include("./partials/headerLogado") %>

        <main>
            <div class="c-produtos">
                <section class="c-1">
                    <div class="caixas2">
                        <div class=fotoPrincipal>
                            <img src="<%= imagem %>">
                        </div>
                    </div>
                </section>
                <section class="c-1">
                    <div class="caixaInformacoes">
                        <a class="letra-p"> Menino / 1-3 anos/ Novidades </a>
                        <div class="descricao-pr">
                            <h2>
                                <%= nome_produto %>
                            </h2>
                            <p class="letra-p">REF: 000000 </p>
                        </div>
                        <br>
                        <div class="descricao-pr">
                            <h2> R$ <%= preco %>
                            </h2>
                        </div>
                        <br>
                        <div>
                            <form>
                                <label for="tamanho">Tamanho</label>
                                <select name="tamanho" id="tamanho" required>
                                    <option>Selecione</option>
                                    <option value="p">P</option>
                                </select>
                            </form>
                            <br>
                            <form action="/sacola" method="post">
                                <input type="hidden" name="addProduto" value="<%= id %>">
                                <button class="venda" type="submit"> <strong> COMPRE AGORA </strong> </button>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
            <div class="especificacao">
                <h4> DETALHES DO PRODUTO: </h4>
                <br>
                <p class="minitext">Composição: 75% poliéster e 25% algodão.</p>
                <div class="medidas">
                    <h3> TABELA DE MEDIDAS: </h3>
                    <br>
                    <table class="tabelaMedidas">
                        <tr class="tabela-linha-cinza">
                            <th> Tamanhos </th>
                            <td> P </td>
                            <td> M </td>
                            <td> G </td>
                        </tr>
                        <tr>
                            <th class="tabela-linha-branca"> Busto </td>
                            <td> 62 cm </td>
                            <td> 66 cm </td>
                            <td> 70 cm </td>
                        </tr>
                        <tr class="tabela-linha-cinza">
                            <th> Comprimento da Peça </td>
                            <td> 38 cm </td>
                            <td> 40 cm </td>
                            <td> 42 cm </td>
                        </tr>
                        <tr>
                            <th class="tabela-linha-branca"> Comprimento do Braço </td>
                            <td> 34 cm </td>
                            <td> 36 cm </td>
                            <td> 38 cm </td>
                        </tr>
                    </table>
                </div>
            </div>
        </main>

        <%- include("./partials/footer") %>

</body>